
.content{
	text-align:center;
	margin-top:70px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.personalInfo{
	width:15%;
	margin-right:1%;
	float:left;
	border-radius:1em;
	background-color:rgba(174,170,170,0.8);
}
#postList{
	width:84%;
	margin-left:16%;
	border-radius:1em;
	background-color:rgba(174,170,170,0.8);
}
#scrollInfo{
	width:84%;
	margin-left:16%;
	margin-top:10px;
	border-radius:1em;
	background-color:rgba(174,170,170,0.8);
}
#scrollContext{
	height:140px;
}
caption{
	height:40px;
	font-size:17px;
	font-weight:bold;
	padding-top:8px;
}
table{
	font-size:17px;
	width:97%;
	margin-left:auto;
	margin-right:auto;
}
tr,td{
	text-align:left;
	padding-left:5%;
	color:#035;
	width:100%;
	height:35px;
	cursor:pointer;
}
td{
	width:50%;
}
/*设置偶数行背景透明度更深*/
tr:nth-child(odd){
	background-color:rgba(174,170,170,0.5);
}
.contentButt{
	font-size:20px;
	font-family:微软雅黑,宋体, 'New York';
	width:90%;
	background-color:#035;
	color:#fb3;
	border: 2px solid #fb3;
	border-radius:1em;
	border-color:#fb3;
	margin-top:10%;
	margin-bottom:10%;
	padding-top:5%;
	padding-bottom:5%;
	cursor:pointer;
}
.contentButt:hover{
	background-color:#fb3;
	color:#035;
}
tr:hover{
	background-color:rgba(174,170,170,0.9);
}
.dateSpan{
	margin-left:20px;
	color:#336;
	font-size:15px;
}
ul{
	width:50%;
}
#newsRight{
	float:right;
}
.unshownClass{
	display:none;
}
.displayClass{
	display:inline;
}
.logInPanelOff{
	display:none;
}
.logInPanelOn{
	background-color:rgba(174,170,170,0.8);
	border-radius:1em;
	width:60%;
	margin-top:150px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	color:#035;
	font-size:20px;
}
.logInButton{
	font-size:15px;
	font-family:微软雅黑,宋体, 'New York';
	background-color:#035;
	color:#fb3;
	border: 2px solid #fb3;
	border-radius:1em;
	border-color:#fb3;
	margin:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}
.logInButton:hover{
	background-color:#fb3;
	color:#035;
}
#adminLabel2{
	margin-left:38px;
}
.errorInfo{
	color:red;
	font-size:12px;
	margin-left:10px;
}
